
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* universal */
.quicksand-regular {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0rem 8.8125rem;
}

/* #FEA301  #01ACFD #05D4DF #5D58EF */
:root {
    --color-primary: #FEA301;
    --color-secondary: #01ACFD;
    --color-accent: #05D4DF;
    --color-highlight: #5D58EF;
    --color-black: #000000;
    --color-white: #ffffff;
}

/* header start */

/* Navigation Bar Start */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 11.625rem;
    /* gap between each nav Item */
    padding: 1.25rem 0rem;
    /* padding top and bottom */
}

/* Navigation Bar Logo */
.nav>.nav_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo__title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-black);
}

/* Navigation anchor List */
nav>ul,
a {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    list-style: none;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
}

/* different color to different anchor */
#home .nav__link {
    color: var(--color-primary);
}

#about .nav__link {
    color: var(--color-secondary);
}

#facilities .nav__link {
    color: var(--color-accent);
}

#admission .nav__link {
    color: var(--color-highlight);
}

/* contact Button */
.contact_btn {
    box-sizing: border-box;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 0.625rem 3.75rem;
    border-radius: 0.75rem;
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
    border: 0rem;
}

.contact_btn:hover {
    background-color: var(--color-white);
    color: var(--color-primary);
    cursor: pointer;
    border: 0.0625rem solid var(--color-primary);
}

/* Navigation Bar End */


/* Banner section start */
.banner_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.125rem;
}

.banner_contents {
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    align-items: flex-start;
    gap: 1.5rem;
}

.banner_title {
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--color-black);
}

/* different color to different anchor */
.banner_title>a#empower {
    color: var(--color-primary);
    font-size: 3.5rem;
    font-weight: 700;
    text-decoration: none;
}

.banner_title>a#vision {
    color: var(--color-secondary);
    font-size: 3.5rem;
    font-weight: 700;
    text-decoration: none;
}

.banner_subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--color-black);
}

.banner_btn {
    box-sizing: border-box;
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 0.625rem 3.75rem;
    border-radius: 0.75rem;
    font-size: 1.25rem;
    font-weight: 700;
    text-decoration: none;
    border: 0rem;
}

.banner_btn:hover {
    background-color: var(--color-white);
    color: var(--color-black);
    cursor: pointer;
    border: 0.0625rem solid var(--color-black);
}

/* Banner section End */
/* header End */

/* Main start */
main {
    background: url('../assets/bg.png');
    background-size: cover;
    background-repeat: repeat;
}
/* Curriculum Section Style Start */
section.curriculum {
    padding: 3.75rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.cur_title {
    font-size: 2.875rem;
    font-weight: 700;
}
/* Card Container Style */
.cur_card_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 2rem;
}
/* cur_Card Style */
.cur_card {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
    padding: 3.75rem 2.5rem;
}
/* Card Contents style */
.cur_card_contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    text-align: center;
}
.cur_card_contents>.card_title {
    font-size: 1.5rem;
    font-weight: 700;
}
.cur_card_contents>.card_subtitle {
    font-size: 1rem;
    font-weight: 500;
    color: #808080;
}
/* Read More anchor Styling */
.read_more_btn#btn1{
    font-weight: 700;
    font-size: 1rem;
    color: #64C8FF;
    text-decoration: none;

}
.read_more_btn#btn2{
    font-weight: 700;
    font-size: 1rem;
    color: #F0AA00;
    text-decoration: none;

}
.read_more_btn#btn3{
    font-weight: 700;
    font-size: 1rem;
    color: #8700FF;
    text-decoration: none;

}
/* card design*/
.cur_card#card1 {
    box-sizing: border-box;
    border: 0.0625rem solid #def5ff;
    border-radius: 1.1875rem;
    box-shadow: inset 0px 0px 1.75rem 0.0625rem #0000000d;
    background: linear-gradient(180deg, #def5ff, #ffffff00 40%), #ffffff;
}
.cur_card#card2 {
    box-sizing: border-box;
    border: 0.0625rem solid #fff4dc;
    border-radius: 1.1875rem;
    box-shadow: inset 0px 0px 1.75rem 0.0625rem #0000000d;
    background: linear-gradient(180deg, #fff4dc, #ffffff00 40%), #ffffff;
}
.cur_card#card3 {
    box-sizing: border-box;
    border: 0.0625rem solid #f2e8ff;
    border-radius: 1.1875rem;
    box-shadow: inset 0px 0px 28.3px 0.94px #0000000d;
    background: linear-gradient(180.00deg, #eee1ff, #ffffff00 40%), #ffffff;
}
/* Navigation Button */
.btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    margin-left: -4rem;
    /* 10px converted to rem */
}
/* left+right */
button#cur_nav_btn_left,
#cur_nav_btn_right {
    border-radius: 50%;
    background: var(--color-primary);
    padding: 1rem;
}

button#cur_nav_btn_left:hover,
#cur_nav_btn_right:hover {
    background: var(--color-primary);
    opacity: 0.5;
    cursor: pointer;
}
/* Curriculum Section Style end */